.canvas {
  width: 700px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

div.table-structure {
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-between;
}

table,
tr,
td {
  border: 1px solid black;
}

div.table-div {
  width: 100%;
  max-width: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

table {
  width: 700px;
  background-color: white;
}

tr {
  height: 30px;
  max-height: 30px;
}

td {
  width: 130px;
  min-width: 100px;
  overflow-wrap: break-word;
}
